/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: 'Sen', 'Roboto', sans-serif;
    color: #282828;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --main-color: #f1f2f6;
    --highlight-color: #00cec9;
  }

.content {
    background-color: var(--main-color);
}

/* mobile first gallery page, for desktop version look down :D */

.stop-scrolling { 
    height: 100%; 
    overflow: hidden; 
} 

/* header */

.app-header {
    width: 100vw;
    height: 100px;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 5%;
}

.app-header__social-container, .header-copyright {
    display: none;
}

.app-header__logo {
    font-weight: 700;
    color: #404040;
}

.app-header__about {
    display: none;
}

.about-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin-top: 60px;
    background-color: var(--main-color);
    color: #f7f1e3;
    z-index: 3;
    display: none;
}

.about-page.show-about {
    display: flex;
}

.app-header__burger-wrapper {
    width: 28px;
    height: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.app-header__burger {
    width: 100%;
    height: 2px;
    position: relative;
    background-color: #404040;
    border-radius: 2px;
    transition: all 500ms ease-in-out;
}

.app-header__burger::before,
.app-header__burger::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: #404040;
}

.app-header__burger::before {
    transform: translateY(-8px);
}

.app-header__burger::after {
    transform: translateY(8px);
}

/* burger animation */

.app-header__burger-wrapper.open .app-header__burger {
    background: transparent;
}

.app-header__burger-wrapper.open .app-header__burger::before {
    transform: rotate(45deg);
}

.app-header__burger-wrapper.open .app-header__burger::after {
    transform: rotate(-45deg);
}

.drop-down-menu {
    width: 100vw;
    height: 300px;
    background-color: var(--highlight-color);
    margin-top: -300px;
    transition: all 500ms ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    color: #353535;
    padding: 10%;
}

.drop-down-menu.down {
    margin-top: 0;
    transition: all 500ms ease-in-out;
}

.image-container__image {
    width: 90%;
    height: auto;
    cursor: pointer;
}

.desc-wrapper {
    padding: 10px 5%;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-title {
    font-size: 1rem;
    font-weight: 500;
    text-transform: lowercase;
    color: #353535;
}

.loader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f1f2f6;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 500;
    visibility: visible;
    transition: all 500ms ease-in-out;
}

.loader-bar {
    position: relative;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0 );
    margin-top: 10px;
    animation: loaderAnim 2800ms linear infinite;
}

.loader-bar span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#14ffe9, #ffeb3b, #ff9ff3);
    animation: loaderAnim 1000ms linear infinite;
}

.loader-bar span:nth-child(1) {
    filter: blur(10px);
}

.loader-bar span:nth-child(2) {
    filter: blur(20px);
}

.loader-bar span:nth-child(3) {
    filter: blur(30px);
}

.loader-bar::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: #f1f2f6;
    border-radius: 50%;    
    box-shadow: inset 4px 4px 6px #aab6c3, inset -4px -4px 6px #e6f6ff;
}

@keyframes loaderAnim {
    to {transform: rotate(360deg);}
}

.loader.hidden {
    visibility: hidden;
    transition: all 500ms ease-in-out;
    display: none;
}

footer {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.social {
    width: 15px;
    margin:  0 20px;
}

.social-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social:hover {
    filter: blur(1px);
    cursor: pointer;
}

.copyright {
    font-size: .8rem;
    margin: 10px 0;
}

/************** DESKTOP VERSION ***********************/

@media screen and (min-width: 768px) {
    .content {
        display: flex;
    }

    .drop-down-menu, .app-header__burger-wrapper/*, .desc-wrapper*/ {
        display: none;
    }

    .app-header {
        width: 160px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: between;
        align-items: center;
        padding: 20px;
        background-color: #f1f2f6;
        box-shadow: 2px 0 6px #d2dae2;
    }

    .about-page {
        position: fixed;
        top: 0;
        left: 0;
        width: calc(100vw - 164px);
        height: 100vh;
        margin-top: 0;
        margin-left: 164px;
        padding: 10% 4%;
        z-index: 3;
        display: flex;
        flex-direction: column;
        opacity: 0;
        transform: translateX(100%);
        transition: all 800ms ease-in;
    }
    
    .about-page.show-about {
        display: flex;
        flex-direction: column;
        opacity: 1;
        transform: translateX(0);
        transition: all 800ms ease-out;
    }

    .title {
        max-width: 50vw;
        font-size: 3rem;
        font-weight: 100;
        margin-bottom: 4px;
    }

    .text {
        max-width: 50vw;
        font-size: 1rem;
        letter-spacing: .1rem;
        line-height: 1.8;
    }
    

    .app-header__logo > img {
        width: 70px;
        height: auto;
    }

    .app-header__about {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 22px;
        cursor: pointer;
        margin-top: 32px;
    }

    .header-copyright {
        display: block;
        position: relative;
        bottom: 0;
        font-size: .7rem;
    }

    .header-copyright:hover, .app-header__about:hover {
        color: var(--highlight-color);
    }
    

    .header-copyright > a {
        font-weight: 900;
    }

    .app-header__social-container {
        width: 100%;
        height: 160px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .app-header__social-container > a {
        height: 40px;
        width: 40px;
        border-radius: 10px;
        border: 2px solid #2f3542;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .app-header__social-container > a:active {
        background: #f1f2f6;
        box-shadow: inset 6px 6px 12px #cdced1, 
            inset -6px -6px 12px #ffffff;
    }

    .social-icon {
        width: 16px;
    }

    .card-wrapper {
        margin-left: 160px;
        display: flex;
        padding: 10px;
    }

    .col {
        width: 33%;
        height: 100%;
        padding: 0 4px;
    }

    .image-container__image {
        width: 100%;
        height: auto;
        margin: 4px 0;
        padding: 10px;
    }

    .desc-wrapper {
        padding: 0 10px;
    }

    .img-title {
        font-weight: 400;
        font-size: .7rem;
        letter-spacing: 1px;
        color: #2f3542;
    }

    .popup-image {
        width: 100vw;
        height: 100vh;
        background-color: #000000;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
        transition: all 1s ease-in-out;
    }

    .popup-image-container > img {
        max-height: 90vh;
        width: auto;
    }

    .close-popup {
        position: fixed;
        top: 5vh;
        right: 5vh;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .close-popup > span {
        color: var(--highlight-color);
        font-weight: 200;
        margin-right: 10px;
    }

    footer {
        display: none;
    }
}